* {
    box-sizing: border-box;
  }
  
  body {
    background: #FFCB05;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 50px;
    background: #3D7DCA;
    border: 5px solid #003A70;
    color: #FFCB05;
    padding: 10px;
    letter-spacing: 5px;
    border-radius: 25px;
  }
  
  #container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* Styles for Cards created in JS file */
  
  .pokemon {
    background: #3D7DCA;
    width: 175px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
  }
  
  .img-container {
    background: #003a70;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .name {
    color: #003a70;
    margin-bottom: 0;
  }